body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: lightgrey;
}

.text-password {
    border: 1px solid black;
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    max-width:200px;
    word-wrap:break-word;
}
.App {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px grey;
    background: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none; 
    -webkit-appearance: none;
    margin: 0;
}
p {
    margin: 0;
}
#text-when-generate {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    border: none;
    padding: 10px;
    background: linear-gradient(to bottom, white, lightgrey);
    border: 1px solid lightgrey;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: inset -2px -2px 2.5px grey;
}
.button:hover {
    background: linear-gradient(to top, white, lightgrey);
}
.elements {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=number] {
    -moz-appearance:textfield;
    width: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
    transition: .3s;
    text-align: center;
}
input:focus {
    border: 2px solid black;
    outline: none;
    background-color: lightgrey;
}
@media (max-width: 750px) { 
    .App {
        width: 80%;
    }
}